<%%= title(t('<%= plural_table_name %>.new.title')) %>

<%%= render 'form' %>

<div class="nav-actions">
  <%%= link_to(t('backend.actions.back'), <%= index_helper %>_path) if can?(:index, <%= class_name %>) %>
</div>
